.header {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 20;
  pointer-events: none;
  width: 100%;
}

.header__nav {
  margin-inline: auto;
  width: fit-content;
}

.header-nav__list {
  display: flex;
  list-style: none;
  a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    padding: 1.25rem;
    pointer-events: all;
  }
}
